html, body, input {
  font-family: 'Lato';
  background-color: #f2f2f2;
  color: #464646;
}

input {
  font-size: 1em;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 2px;
  background: #fff;
}

button {
  font-size: 1em;
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
  background: #2196f3;
  color: #fff;
}

button:disabled {
  background: #999 !important;
  color: #c5c5c5 !important;
}

.input-container {
  margin-top: 1rem;
}

.input-container label > .input {
  margin-left: 1rem;
}

.card-pile {
  margin: 1rem;
}

.card-pile .card {
  position: relative;
  float: left;
}

.card-pile > .card:not(:first-child) {
  margin-left: -195px;
}
